In [1]:
import numpy as np
import matplotlib.pyplot as plt
import time
import os
import random as rn
import pandas as pd

## Selecionar apenas a matriz superior e remover colunas que sejam sempre 0

In [2]:
df_train_numerical = pd.read_csv('./datasets/numerical_train.csv')
df_teste_numerical = pd.read_csv('./datasets/numerical_teste.csv')
df_train_image = pd.read_csv( './datasets/dataset.csv')
df_test_image = pd.read_csv('./datasets/test_dataset.csv')

In [3]:
df_train_image

,0,1,2,3,4,5,6,7,8,9,...,8090,8091,8092,8093,8094,8095,8096,8097,8098,8099
0,0.0,0.0,0.131525,0.0,0.0,0.0,0.271538,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.585006,0.0,0.280606,0.0,0.0
1,0.0,0.0,0.117704,0.0,0.0,0.0,0.316890,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.599437,0.0,0.207478,0.0,0.0
2,0.0,0.0,0.155806,0.0,0.0,0.0,0.348072,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.630374,0.0,0.246472,0.0,0.0
3,0.0,0.0,0.145214,0.0,0.0,0.0,0.310270,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.562505,0.0,0.287888,0.0,0.0
4,0.0,0.0,0.161360,0.0,0.0,0.0,0.385560,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.564043,0.0,0.234284,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,0.0,0.0,0.215767,0.0,0.0,0.0,0.390332,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.011150,0.0,0.660292,0.0,0.302675,0.0,0.0
108,0.0,0.0,0.143005,0.0,0.0,0.0,0.306380,0.0,0.0,0.0,...,0.0,0.011171,0.0,0.019141,0.0,0.630415,0.0,0.204125,0.0,0.0
109,0.0,0.0,0.116085,0.0,0.0,0.0,0.290941,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.574355,0.0,0.246784,0.0,0.0
110,0.0,0.0,0.156654,0.0,0.0,0.0,0.357540,0.0,0.0,0.0,...,0.0,0.010225,0.0,0.000000,0.0,0.631057,0.0,0.216259,0.0,0.0
111,0.0,0.0,0.114586,0.0,0.0,0.0,0.283916,0.0,0.0,0.0,...,0.0,0.024996,0.0,0.000000,0.0,0.655354,0.0,0.274812,0.0,0.0

In [4]:
numpy_array = df_train_image.to_numpy()

In [5]:
new_array = []
for i in numpy_array:
    arr_2d = np.reshape(i, (90, 90))
    arr_2d = np.triu(arr_2d)
    new_array.append(arr_2d.flatten())
    
train_cleaning = pd.DataFrame(new_array)

In [6]:
numpy_array_test = df_test_image.to_numpy()
new_array = []
for i in numpy_array_test:
    arr_2d = np.reshape(i, (90, 90))
    arr_2d = np.triu(arr_2d)
    new_array.append(arr_2d.flatten())
    
cleaningtest = pd.DataFrame(new_array)

In [7]:
df_train_image_clean = train_cleaning[[c for c
        in list(train_cleaning)
        if (len(train_cleaning[c].unique()) or len(cleaningtest[c].unique())) > 1]]

In [8]:
df_test_image_clean = cleaningtest[[c for c
        in list(cleaningtest)
        if (len(train_cleaning[c].unique()) or len(cleaningtest[c].unique())) > 1]]

In [9]:
df_train_numerical

     age  sex  education
0     13    1       0.35
1     14    0       0.40
2     15    1       0.45
3     15    1       0.45
4     15    1       0.45
..   ...  ...        ...
107   77    1       0.20
108   67    0       0.20
109   55    0       0.20
110   76    1       0.15
111   69    0       0.20

[112 rows x 3 columns]

### One Hot encoding do Sexo

#### Treino

In [10]:
sex=pd.get_dummies(df_train_numerical['sex'])

In [11]:
df_train_numerical=df_train_numerical.drop('sex',axis=1)

In [12]:
sex.rename(columns = {0:'Female', 1:'Male'}, inplace = True)

In [13]:
df_train_numerical = pd.concat([df_train_numerical,sex],axis=1)

#### Test

In [14]:
sex=pd.get_dummies(df_teste_numerical['sex'])

In [15]:
df_teste_numerical=df_teste_numerical.drop('sex',axis=1)

In [16]:
sex.rename(columns = {0:'Female', 1:'Male'}, inplace = True)

In [17]:
df_teste_numerical = pd.concat([df_teste_numerical,sex],axis=1)

### Gravação dos datasets para usar na CNN1D

In [18]:
df_train_numerical.to_csv('datasets/numericalDataset_train.csv',index=False)
df_teste_numerical.to_csv('datasets/numericalDataset_teste.csv',index=False)

In [19]:
df_train_image_clean.to_csv('datasets/conv1dR_train.csv',index=False)
df_test_image_clean.to_csv('datasets/conv1dR_teste.csv',index=False)

### Para usar no MLP

In [20]:
df_train = pd.concat([df_train_numerical,df_train_image_clean],axis=1)

In [21]:
df_test = pd.concat([df_teste_numerical,df_test_image_clean],axis=1)

In [22]:
df_train

,age,education,Female,Male,2,3,6,10,12,16,...,7468,7555,7557,7559,7646,7648,7737,7739,7828,7919
0,13,0.35,0,1,0.131525,0.0,0.271538,0.374434,0.039427,0.076948,...,0.000000,0.028046,0.573282,0.000000,0.239553,0.585254,0.162305,0.585006,0.276153,0.280606
1,14,0.40,1,0,0.117704,0.0,0.316890,0.359445,0.049076,0.096582,...,0.000000,0.021593,0.576865,0.000000,0.193739,0.631275,0.171084,0.599437,0.320557,0.207478
2,15,0.45,0,1,0.155806,0.0,0.348072,0.335944,0.045267,0.070500,...,0.000000,0.038532,0.665572,0.000000,0.252137,0.625163,0.202426,0.630374,0.271738,0.246472
3,15,0.45,0,1,0.145214,0.0,0.310270,0.320711,0.025480,0.073450,...,0.012246,0.028526,0.557595,0.000000,0.228784,0.599624,0.178689,0.562505,0.390434,0.287888
4,15,0.45,0,1,0.161360,0.0,0.385560,0.284115,0.012964,0.051453,...,0.000000,0.062636,0.512645,0.000000,0.204526,0.548259,0.188561,0.564043,0.279060,0.234284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,77,0.20,0,1,0.215767,0.0,0.390332,0.323281,0.016495,0.173735,...,0.020809,0.068060,0.642312,0.011150,0.322259,0.577230,0.243250,0.660292,0.349307,0.302675
108,67,0.20,1,0,0.143005,0.0,0.306380,0.364617,0.038558,0.104152,...,0.035670,0.149592,0.677867,0.019141,0.520065,0.607572,0.334296,0.630415,0.281757,0.204125
109,55,0.20,1,0,0.116085,0.0,0.290941,0.338786,0.022698,0.128278,...,0.025797,0.054745,0.526207,0.000000,0.320151,0.595534,0.210325,0.574355,0.444044,0.246784
110,76,0.15,0,1,0.156654,0.0,0.357540,0.365350,0.031100,0.097411,...,0.000000,0.060231,0.525995,0.000000,0.246402,0.611439,0.220760,0.631057,0.363958,0.216259
111,69,0.20,1,0,0.114586,0.0,0.283916,0.400293,0.057618,0.131278,...,0.010692,0.169360,0.608985,0.000000,0.259620,0.621185,0.350466,0.655354,0.284612,0.274812

In [23]:
df_train.to_csv('datasets/concatenatedDataset_train.csv',index=False)
df_test.to_csv('datasets/concatenatedDataset_test.csv',index=False)